@charset "utf-8";
*{
    margin:0;
    padding:0;

}
body{
    color: navy;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#wrap{
    width: 90%;
    margin: auto;
    max-width: 1024px;
    height: auto;
}
div.clear{
    clear: both;
}
/* 해더 */
header{
    border: 1px solid silver;
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
}
header img{
    width: 98%;
    text-align: center;
}
/* 네비 */
nav{
    padding: 5px;
    height: 30px;
    background-color: rgba(255, 232, 240, 1);
    border-radius: 5px;
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav ul li{
    float:left;
    padding: 0 5px 0 0;
}
nav ul li a{
    display: block;
    text-decoration: none;
    padding: 2px 20px 3px 20px;
    color: rgb(50, 50, 50);
}
nav ul li a:hover{
    background-color: rgb(100, 150, 255);
    border-radius: 5px;
    color: rgb(255, 255, 255);    
}
/* 아티클 */
article{
    border: 1px solid silver;
    border-radius: 5px;
    width: 74%;
    float: left;
    padding: 10px;
    margin: 5px 0;
    height: 680px;
    overflow: scroll-y;
}
article section{
    border: 1px solid lightblue;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    width: 45%;
    float: left;
}
/* 어사이드 */
aside{
    width: 20%;
    border: 1px solid silver;
    border-radius: 5px;
    float: right;
    padding: 10px;
    margin: 5px 0;
    height: 680px;
}
aside nav{
    background: none;
    border: none;
}
aside nav ul{
    list-style: none;
}
aside nav ul li{
    padding: 0 5px;
}
aside nav ul li a{
    display: block;
    padding: 5px 0;
    width: 170px;
    
}
aside nav ul li a:hover{
    background-color: transparent;
    color: navy;
    font-weight: bold;
}
footer{
    background-color: rgb(232, 255, 250,1);
    height: 50px;
    line-height: 50px;
    padding: 10px 20px;
    border: 1px solid silver;
    border-radius: 5px;
    font-size: 0.8em;
}
div.container{
	text-align:center;
}
table{
	border-collapse:collapse;
}
table .m1{
	background-color:#efefef;
	padding: 5px;
}
.m2{
	text-align:left;
	padding:5px;
}
.m2 input{
	width:50%;
	
	padding:5px;
}
.m2 button{
	padding:4px;
	width:25%;
	background-color:bisque;
	border: 1px solid silver;
}
.m3{
	padding: 5px;
}
.m3 button{
	padding: 4px;
	width: 25%;
	background-color: bisque;
	border: 1px solid silver;
}
#hp1, #hp2, #hp3{
	width:20%;
}
#addr1, #addr2{
	width:80%;
	margin-bottom:7px;
}
.state0{
	color:green;
}
.state-1{
	color:orange;
}
.state-2{
	color:red;
}
span.ck{
	font-size:0.8em;
	color:maroon;
}